

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>FRC Inventory Application</span>
    </mat-toolbar-row>
</mat-toolbar>
    <div class="loginCard">
        <mat-card>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
              <mat-card-header>
                <mat-card-title>Login</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <div class="col" style="margin-left: 15px;">
                      <div class="row">
                          <mat-form-field class="full-width">
                              <input matInput placeholder="Enter your email" [formControl]="email" required>
                              <mat-error *ngIf="loginForm.controls['email']"></mat-error>
                          </mat-form-field>
                      </div>
                      <div class="row">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Enter your Password" [formControl]="password" required>
                            <mat-error *ngIf="loginForm.controls['password']"></mat-error>
                        </mat-form-field>
                    </div>
                    </div>
              </mat-card-content>
              <mat-card-actions>bt
                <button mat-raised-button class="full-width" color="primary" type="submit">Submit</button>
              </mat-card-actions>
            </form>
          </mat-card>
    </div>
   

