
    <div style="margin-top: 10%; margin-bottom: 40%; margin-right: 35%; margin-left: 35%; border: 2px lightgray solid;border-radius: 5px;">
        <mat-card>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
              <mat-card-header>
                <mat-card-title>Login</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <div class="col" style="margin-left: 5px;">
                  <div class="row">
                      </div>
                    </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" style="margin-left: 20px;">Submit</button>
              </mat-card-actions>
            </form>
          </mat-card>
    </div>
   

