.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  offset: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* a { display: block; text-align: center; 
  background: 
  rgb(67,80, 175); text-transform: uppercase; 
  text-decoration: none; color: white; padding: 10px; 
  border-radius: 3px;
margin: 10px;} */
